<ion-header>
    <ion-title color=warning>
      NTI-VETENSKAPSSKOLAN
    </ion-title>
</ion-header>

<ion-content [fullscreen]="false">

    
<ion-grid>
  <ion-row>
    <ion-card tappable color=dark>
      <ion-card-header>
        <ion-card-subtitle>Sal-1</ion-card-subtitle>
        <ion-card-title>Merkurius</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-col>
      <ion-card tappable color=dark>
        <ion-card-header>
          <ion-card-subtitle>Sal-2</ion-card-subtitle>
          <ion-card-title>?</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
         
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-card tappable color=dark>
      <ion-card-header>
        <ion-card-subtitle>Sal-3</ion-card-subtitle>
        <ion-card-title>Tellus</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
    <ion-col>
      <ion-card color=dark tappable>
        <ion-card-header>
          <ion-card-subtitle>Sal-4</ion-card-subtitle>
          <ion-card-title>Mars</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
        
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
       </ion-col>
  </ion-row>
  </ion-grid>


</ion-content>
