<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
<!-- Colors -->

      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Coca-Cola_logo.svg/1280px-Coca-Cola_logo.svg.png"></ion-img>
    
<ion-grid>
  <ion-row>
    <ion-col>
   
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
     <ion-button onclick="window.open('https://youtube.com/')" >button</ion-button>
      YouTube
    </ion-col>
    <ion-col>
       </ion-col>
        <ion-button color="danger" (click)="openPolis()">Nästa Sida</ion-button>
  </ion-row>
  </ion-grid>



</ion-content>
